*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.song{
	margin: 20px;
}
/*body{
	width: 100vh;
	height: 100vh;
	background-image:  url(../img/x/Fondo.jpeg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 100vh 0;
}*/

#a-nav{
	align-items: center;
}
#img-nav{
	height:35px; 
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(auto-fill,230px );
	gap: 20px;
	justify-content: center;
	margin: 20px auto;

}


.grid-item{
	transition: 1s all;
	width: 230px;
	margin-bottom: 20px;
	border-radius: 15px;
	cursor: zoom-in;
	background-color: crimson;
}

.grid-item:hover{
	box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
	margin-top: -5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.container{
	width: 100%;
	text-align: center;
}

h1{
	font-weight: normal;
	font-size: 55px;
	position: relative;
	margin: 40px 0;	
}

h1::before{
	content: '';
	position: absolute;
	width: 400px;
	height: 3px;
	background-color: chocolate;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 3s linear infinite;
}
@keyframes animate{
	0%{
		width: 100px;
	}
	50%{
		width: 400px;
	}
	100%{
		width: 100px;
	}
}

.container2 {
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #b2e2f2;
	padding: 30px;
  }
  
  .search {
	margin-left: auto;
	margin-right: auto;
	width: 100%;

  }
  
  form {
	display: flex;
  }
  
  input {
	padding: 15px 10px;
	outline: none;
	width: 800px;
  }
  
  .li-container {
	background-color: white;
	width: 100%;
	color: darkslategray;
	margin-top: 20px;
  }
  
  ul {
	padding: 0;
  }
  
  li {
	list-style: none;
	background-color: lightgray;
	border-radius: 10px;
	margin-top: 15px;
	display: flex;
  }
  
  li p {
	margin: 0;
	padding: 15px;
	width: 100%;
  }
  
  .btn-delete {
	margin-left: auto;
	border: none;
	background-color: #e31746;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	outline: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	width: 10%;
	font-size: 1.2em;
  }
  
  .btn-delete:hover {
	cursor: pointer;
	background-color: lightseagreen;
  }
  
  .btn-add {
	padding: 5px 15px;
	border: none;
	color: white;
	font-family: fantasy;
	background-color: teal;
	font-size: 1.4rem;
	outline: none;
  }
  
  .btn-add:hover {
	cursor: pointer;
	background-color: darkcyan;
  }
  
  .empty {
	color: darkslategrey;
  }
 
@media screen and (max-width: 400px){
	.container2{
		padding: 20px;
		width: 95%;
	} 
}